#tool {
    display: flex;
    width: 100%;
    /* border: 2px solid rgb(54, 54, 54); */
    justify-content: space-around;
}

#input-div {
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(255, 158, 158); */
    width: 50%;
}

#inner-input-div {
    display: inline;;
}

#loading {
    font-size: 30px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(22, 22, 22); */
}

.search, label, button {
    padding: 4px;
    margin: 4px;
}

label {
    font-size: 26px;
}

button {
    padding-left: 20px;
    padding-right: 20px;
}

.search {
    width: 70%;
}

#query-input {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 4px;
    padding: 4px;
    margin-top: 8px;
}

li {
    cursor: pointer;
    padding: 4px;
    font-size: 14px;
    border-left: 2px solid rgb(21, 21, 21);
    border-right: 2px solid rgb(21, 21, 21);
    border-top: 1px solid rgb(21, 21, 21);
    border-bottom: 1px solid rgb(21, 21, 21);
}

li:hover{
    background-color: rgb(33, 33, 33);
    color: rgb(233, 233, 233);
}

#search-results {
    overflow: scroll;
}




.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-height: 300px;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content p {
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content p:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#showPath {
    margin-top: 8px;
    padding: 0px;
}

#show-path-label {
    font-size: 16px;
    margin-bottom: 0px;
    /* border: solid 1px #000000 */
}

#check-div {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}


